* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 24px;
  font-family: sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
  padding: 12px 24px;
}

a:hover {
  cursor: pointer;
}

ul {
  list-style-type: none;
}

li {
  width: max-content;
}

header {
  text-align: center;
  height: 20vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

main {
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  .highlight {
    display: inline-block;
    position: absolute;
    opacity: 0;
    border-radius: 12px;
    border: 3px solid coral;
    margin-bottom: -6px;
    background: transparent;
    z-index: -1;
    width: 1px;
    height: 3px;
    transition: width 0.125s cubic-bezier(0.16, 0.59, 0.51, 1.12),
      top 0.25s cubic-bezier(0.16, 0.59, 0.51, 1.12),
      left 0.25s cubic-bezier(0.16, 0.59, 0.51, 1.12);
  }

  ul {
    display: flex;
  }

  li {
    margin: 6px;
  }

  .active {
    color: coral;
    margin-bottom: 0;
    transition: border 0.125s 0.075s;
  }
}

@media (max-width: 768px) {
  main {
    ul {
      flex-direction: column;
    }
    li {
      margin: 12px;
    }

    .active {
      border: none;
      border-left: 4px solid coral;
      margin-left: -4px;
    }
  }
}
